.App {
  margin-left: 30px;
}

.header{
  text-align: center;
}

.com1 {
  margin-right: 10px;
}

.com2 {
  margin-right: 10px;
}

.com3 {
  margin-right: 10px;
}

.divcom1 {

}

.divcom2 {
  margin-top: 15px
}
.divcom3 {
  margin-top: 15px
}